<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>socketTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FD5EDEF2112E0AB005538E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD5EE032112E0AD005538E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FD5EE0E2112E0AD005538E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
